# System Files
.DS_Store
Thumbs.db

# IDE/Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node / Logs (if you expand later)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
